services:
  portfolio_db:
    # MySQL image (version 8.0)
    image: mysql:8.0
    container_name: portfolio-mysql
    restart: always

    # Load Env-File
    env_file: ./.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD} 
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}

    
    ports:
      - 3306:3306 

    volumes:
      # Data Persistence
      - mysql_data:/var/lib/mysql

      # Database inicialization
      # The Script must be .sql o .sh
      - ./init-db-mysql:/docker-entrypoint-initdb.d

volumes:
  mysql_data:
