services:
  portfolio_db:
    # Official MS SQL Server image
    image: mcr.microsoft.com/mssql/server:latest
    container_name: portfolio-mssql
    restart: always

    # Load Env-File
    env_file: ./.env
    environment:
      # IMPORTANT: Strong password is required by MS SQL Server
      MSSQL_SA_PASSWORD: ${DB_PASSWORD}
      # IMPORTANT: Accept the End-User License Agreement
      ACCEPT_EULA: "Y" 
      MSSQL_DB: ${DB_NAME}
      
    ports:
      - 1433:1433

    volumes:
      # Data Persistence
      - mssql_data:/var/opt/mssql
      - ../init-db-mssql/init-db-mssql.sql:/db/init.sql
      - ../init-db-mssql/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/bin/bash", "/entrypoint.sh"]


volumes:
  mssql_data:

#################################################################
# Enter the container and Microsoft SQL Database service with:
#   sudo docker exec -it {CONTAINER_ID} /opt/mssql-tools18/bin/sqlcmd -S localhost -U SA -P {DB_PASSWORD} -C -N

